@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --font-primary: 'Archivo Black', sans-serif;
  --font-secondary: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ----------------  HEADER  ---------------- */
.site-header {
  display: flex;
  flex-direction: column;
  background-color: #1A1A1A;
  padding: 1px 0 15px 0;
  gap: 5px;
}

/* Logo */
.logo {
  width: 165px;
  height: 105px;
  margin: 48px 228px 39px 120px;
}

.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-right: 87px;
}

.main-nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
}


.main-nav a {
  text-decoration: none;
  color: #ffffff;  
  font-family: var(--font-secondary);
  font-size: 1rem;
  transition: color 0.3s;
}

.main-nav a:hover {
  color: #fdd835;
}

/* right side -- phone, social and login */

.header-right {
  display: grid;
  justify-content: space-between;
  margin-left: 100px;
}

.header-top {
  display: flex;
  justify-content: flex-end;
  margin-top: -50px;
  gap: 20px;
}

.header-phone {
  color: #ffffff;
  text-decoration: none;
  gap: 8px;
  font-size: 0.9rem;
  font-family: var(--font-secondary);
} 

/* social icons */
.icon-small { 
  object-fit: contain; 
  filter: brightness(0) invert(1); 

}

/* login btn */

.btn-header {
  width: 117px;
  height: 34px;
  display: flex;
  justify-content: center;
  background: #ffffff;
  opacity: 20%;
  border-radius: 5px;
}

.button-login {
  color: black;
  padding: 7px 28px 13px 30px;
  text-decoration: none;
  font-family: var(--font-secondary);
  font-weight: bold;
  font-size: 20px,
}

/* ----------------  FOOTER  ---------------- */

.site-footer {
  background-color: #1A1A1A;
  color: #ffffff;
  padding-top: 30px;
}

/* footer top */
.footer-top {
  display: flex;
  justify-content: space-around;
  padding-bottom: 30px;
}

.contact-item {
  text-align: center;
  padding: auto;
  opacity: 70%;
  width: 400px;
}

.contact-item h3 {
  font-family: var(--font-primary);
  font-size: 1.2rem;
  font-weight: 400;
}

.contact-item p {
  margin-top: 10px;
  font-family: var(--font-secondary);
  font-size: 0.969rem;
}

.contact-item img {
  margin-bottom: 10px;
}

#phone {
  border-left: 1px solid #333333;
  border-right: 1px solid #333333;
}

/* footer bottom */

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 60px 20px 60px;
}

.footer-logo-social {
  max-width: 200px;
}

.footer-logo {
  margin-bottom: 15px;
  opacity: 70%;
}

.social-links {
  display: flex;
  justify-content: space-around;
}

.social-links a {
  color: #ffffff;
  opacity: 80%;
  font-size: 1.2rem;
  text-decoration: none;
}

/* footer links */

.footer-links h4, 
.footer-cta h4 {
  font-size: 1.2rem;
  font-weight: 400;
  font-family: var(--font-primary);
  opacity: 70%;
  margin-bottom: 15px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li {
  margin-bottom: 8px;
}

.footer-links a {
  font-family: var(--font-secondary);
  color: #cccccc;
  font-size: 0.969rem;
  text-decoration: none;
}

.footer-links a:hover {
  color: #fdd835;
}

/* cta (Call to Action) */

.footer-cta p {
  color: #cccccc;
  margin-bottom: 20px;
  max-width: auto;
  font-family: var(--font-secondary);
  font-size: 0.75rem;

}

.cta-btn a {
  color: #cccccc;
  font-family: var(--font-secondary);
  font-size: 0.75rem;
  text-decoration: none;
  padding: 10px 20px;
  border: 1px solid #cccccc;;
  border-radius: 5px;
  margin-right: 10px;
  display: inline-block;
  transition: background-color 0.3s;
}

.btn-quote {
  background-color: transparent;
}

.btn-view {
  background-color: transparent;
}

.btn-view:hover {
  background-color: #cccccc;
  color: #1A1A1A;
}

.btn-quote:hover {
  background-color: #cccccc;
  color: #1A1A1A;
}

/* legal */

.footer-legal {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-align: center;
  font-family: var(--font-secondary);
  padding: 10px 60px 10px 60px;
  border-top: 1px solid #333333;
  font-size: 0.7rem;
  color: #cccccc;
}

.footer-legal p {
  margin: 5px 0;
}
